.UserManual {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.UserManual__title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.UserManual__content {
  text-align: left;
  padding: 30px;
  height: 100%;
  /* border: 1px solid white; */
  overflow: scroll;
}

.UserManual__content a {
  color: white;
  text-shadow: 0 0 4px white;
}

.UserManual__content h2 {
  color: white;
  margin-top: 20px;
}

.UserManual__content p {
  color: white;
  line-height: 1.6;
}

.UserManual__content ol {
  margin-left: 20px;
}

.UserManual__content ol li {
  margin-bottom: 10px;
}
